._selected{
    font-weight: bold;
}
._paginator{
    display: flex;
    flex-wrap: wrap;
}
._paginator_btn{
    padding: 5px;
    margin-right: 5px;
    background-color: #fff;
    cursor: pointer;
}