.nav {
    grid-area: n;
    background-color: #4a76a8;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 16px;
    &__list {
    }
    &__item {
        font-size: 20px;
    }
    &__link {
        line-height: 28px;
        display: inline-block;
        width: 100%;
        &:hover {
            color: tomato;
        }
    }
}

.active {
    color: tomato;
}
._friend_wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
._friend_pic{
    height: 100px;
    width: 100px;
    object-fit: cover;
}