._wrapper{
    display: flex;
    margin: 10px 0;
}
._avatar{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
    margin-right: 20px;
}
._form_summary_error {
    border: 1px solid rgb(216, 47, 47);
    padding: 5px;
    color: rgb(216, 47, 47);
    display: inline-block;
    margin-top: 10px;
}